@model CIS411_Wrestling_Project.Models.MatchModel
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script src="~/Scripts/Custom/timer.js" type="text/javascript"></script>


@{
    ViewBag.Title = "Reisz Wrestling";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>REISZ WRESTLING ASSOCIATION</h2>

    Min
<input id="minutes" type="text" value="" style="width:26px" onkeypress="validate(event)" />
    Sec
<input id="seconds" type="text" value="" style="width:26px" onkeypress="validate(event)" />

<input name="starter" type=button value="Start" onClick="startClock()" >
<br />

<input id="elapsedTime" value="00:00" readonly="readonly" />
<br />
<input name="pauser" type=button value="Pause" onClick="pauseClock()" >

<input name="resetter" type=button value="Reset" style="width:97px; font-weight:bold" onClick="resetClock()" >
<br />
<span id="message"></span>

@using (Html.BeginForm("Create","MatchController")) {
<input id="points" type="text" />


}